# Working with Data

In [1]:
# load required modules
using CategoricalArrays
using CSV
using DataFrames
using Distributions
using Random
using StatsBase

In [2]:
# set seed for reproducible sequence of numbers
Random.seed!(42);

## Dataframes

In [3]:
# create a sample dataframe
df = DataFrame(
    Dict(
        :x1 => rand(Normal(10, 1), 100),
        :x2 => [sample(["Good", "Better", "Best"], pweights([0.2, 0.5, 0.3])) for i=1:100],
        :x3 => rand(Pareto(10, 1), 100)
    )
)

100×3 DataFrame
 Row │ x1        x2      x3
     │ Float64   String  Float64
─────┼───────────────────────────
   1 │  9.44397  Best    1.13941
   2 │  9.55562  Good    1.15612
   3 │ 10.0272   Better  1.14102
   4 │  9.70052  Better  1.13922
   5 │ 11.7779   Good    1.2221
   6 │  8.8551   Better  1.04502
   7 │  9.53139  Best    1.15222
   8 │ 10.1561   Good    1.03787
   9 │  7.35801  Better  1.098
  10 │ 11.0033   Better  1.05128
  11 │ 11.0824   Good    1.03466
  ⋮  │    ⋮        ⋮        ⋮
  91 │ 10.1375   Better  1.21954
  92 │ 13.1496   Better  1.01555
  93 │  9.27859  Better  1.07816
  94 │  9.42291  Better  1.07689
  95 │ 10.4594   Best    1.72336
  96 │ 10.2472   Good    1.0601
  97 │  9.97434  Best    1.13788
  98 │  9.36792  Better  1.14067
  99 │  8.97958  Better  1.18326
 100 │  8.68849  Best    1.11812
                  79 rows omitted

In [4]:
# get type of df
typeof(df)

DataFrame

### Access Dataframe Rows

In [5]:
# access 1 row
df[1, :]

DataFrameRow
 Row │ x1       x2      x3
     │ Float64  String  Float64
─────┼──────────────────────────
   1 │ 9.44397  Best    1.13941

In [6]:
# access 1 and 2 row
df[[1, 2],:]

2×3 DataFrame
 Row │ x1       x2      x3
     │ Float64  String  Float64
─────┼──────────────────────────
   1 │ 9.44397  Best    1.13941
   2 │ 9.55562  Good    1.15612

### Access Dataframe Columns

In [7]:
# access x1 column vector
df[:, :x1]

100-element Vector{Float64}:
  9.443973123853613
  9.555616642890303
 10.027155338009194
  9.700515909641089
 11.777861098057326
  8.85509846827118
  9.531394117832326
 10.15614346264074
  7.358008991923204
 11.003309901459485
 11.08238120560843
 10.18702790710363
 10.518148787877138
  ⋮
  9.06950711978119
  8.00944602766854
 10.137539801928368
 13.149575924127522
  9.278587801512574
  9.422907303013153
 10.459383775304756
 10.247207706055054
  9.974337506195937
  9.367919031973127
  8.979580645130948
  8.688492199795714

In [8]:
# access x1 column dataframe
df[:,[:x1]]

100×1 DataFrame
 Row │ x1
     │ Float64
─────┼──────────
   1 │  9.44397
   2 │  9.55562
   3 │ 10.0272
   4 │  9.70052
   5 │ 11.7779
   6 │  8.8551
   7 │  9.53139
   8 │ 10.1561
   9 │  7.35801
  10 │ 11.0033
  11 │ 11.0824
  ⋮  │    ⋮
  91 │ 10.1375
  92 │ 13.1496
  93 │  9.27859
  94 │  9.42291
  95 │ 10.4594
  96 │ 10.2472
  97 │  9.97434
  98 │  9.36792
  99 │  8.97958
 100 │  8.68849
 79 rows omitted

In [9]:
# access column x1 and x2
df[:, [:x1, :x2]]

100×2 DataFrame
 Row │ x1        x2
     │ Float64   String
─────┼──────────────────
   1 │  9.44397  Best
   2 │  9.55562  Good
   3 │ 10.0272   Better
   4 │  9.70052  Better
   5 │ 11.7779   Good
   6 │  8.8551   Better
   7 │  9.53139  Best
   8 │ 10.1561   Good
   9 │  7.35801  Better
  10 │ 11.0033   Better
  11 │ 11.0824   Good
  ⋮  │    ⋮        ⋮
  91 │ 10.1375   Better
  92 │ 13.1496   Better
  93 │  9.27859  Better
  94 │  9.42291  Better
  95 │ 10.4594   Best
  96 │ 10.2472   Good
  97 │  9.97434  Best
  98 │  9.36792  Better
  99 │  8.97958  Better
 100 │  8.68849  Best
         79 rows omitted

### Access Dataframe Rows and Columns

In [10]:
# slicing dataframe by indeces
df[1:2, 1:2]

2×2 DataFrame
 Row │ x1       x2
     │ Float64  String
─────┼─────────────────
   1 │ 9.44397  Best
   2 │ 9.55562  Good

In [11]:
# slicing dataframe by column names
df[1:2, [:x1, :x2]]

2×2 DataFrame
 Row │ x1       x2
     │ Float64  String
─────┼─────────────────
   1 │ 9.44397  Best
   2 │ 9.55562  Good

In [12]:
# select only x2 == "Better"
mask = [df[i,:x2] == "Better" for i=1:nrow(df)]
df[mask, :]

51×3 DataFrame
 Row │ x1        x2      x3
     │ Float64   String  Float64
─────┼───────────────────────────
   1 │ 10.0272   Better  1.14102
   2 │  9.70052  Better  1.13922
   3 │  8.8551   Better  1.04502
   4 │  7.35801  Better  1.098
   5 │ 11.0033   Better  1.05128
   6 │ 10.3676   Better  1.02916
   7 │  8.40942  Better  1.03214
   8 │ 10.4107   Better  1.02553
   9 │  8.94901  Better  1.02335
  10 │ 10.5698   Better  1.04113
  11 │  8.57794  Better  1.06142
  ⋮  │    ⋮        ⋮        ⋮
  42 │  8.55112  Better  1.01471
  43 │ 10.317    Better  1.01046
  44 │ 10.2763   Better  1.01972
  45 │  8.37438  Better  1.0104
  46 │ 10.1375   Better  1.21954
  47 │ 13.1496   Better  1.01555
  48 │  9.27859  Better  1.07816
  49 │  9.42291  Better  1.07689
  50 │  9.36792  Better  1.14067
  51 │  8.97958  Better  1.18326
                  30 rows omitted

In [13]:
# select only x2 == "Better" using bit vector
df[df[:, :x2] .== "Better", :]

51×3 DataFrame
 Row │ x1        x2      x3
     │ Float64   String  Float64
─────┼───────────────────────────
   1 │ 10.0272   Better  1.14102
   2 │  9.70052  Better  1.13922
   3 │  8.8551   Better  1.04502
   4 │  7.35801  Better  1.098
   5 │ 11.0033   Better  1.05128
   6 │ 10.3676   Better  1.02916
   7 │  8.40942  Better  1.03214
   8 │ 10.4107   Better  1.02553
   9 │  8.94901  Better  1.02335
  10 │ 10.5698   Better  1.04113
  11 │  8.57794  Better  1.06142
  ⋮  │    ⋮        ⋮        ⋮
  42 │  8.55112  Better  1.01471
  43 │ 10.317    Better  1.01046
  44 │ 10.2763   Better  1.01972
  45 │  8.37438  Better  1.0104
  46 │ 10.1375   Better  1.21954
  47 │ 13.1496   Better  1.01555
  48 │  9.27859  Better  1.07816
  49 │  9.42291  Better  1.07689
  50 │  9.36792  Better  1.14067
  51 │  8.97958  Better  1.18326
                  30 rows omitted

## Categorical Data

In [14]:
# generate random string vector with missing values
arr = [isodd(i) ? 
    sample(["Good", "Better", "Best"], pweights([0.2, 0.4, 0.3])) : 
    missing for i = 1:nrow(df)]

100-element Vector{Union{Missing, String}}:
 "Better"
 missing
 "Best"
 missing
 "Best"
 missing
 "Better"
 missing
 "Best"
 missing
 "Better"
 missing
 "Better"
 ⋮
 "Better"
 missing
 "Good"
 missing
 "Better"
 missing
 "Best"
 missing
 "Best"
 missing
 "Best"
 missing

In [15]:
# create categorical array
carr = categorical(arr)

100-element CategoricalArray{Union{Missing, String},1,UInt32}:
 "Better"
 missing
 "Best"
 missing
 "Best"
 missing
 "Better"
 missing
 "Best"
 missing
 "Better"
 missing
 "Better"
 ⋮
 "Better"
 missing
 "Good"
 missing
 "Better"
 missing
 "Best"
 missing
 "Best"
 missing
 "Best"
 missing

In [16]:
levels(carr)

3-element Vector{String}:
 "Best"
 "Better"
 "Good"

## Input and Output (I/O)

### Write CSV

In [17]:
CSV.write("../data/interim/df.csv", df)

"../data/interim/df.csv"

### Read CSV

In [18]:
CSV.read("../data/interim/df.csv", DataFrame)

100×3 DataFrame
 Row │ x1        x2      x3
     │ Float64   String  Float64
─────┼───────────────────────────
   1 │  9.44397  Best    1.13941
   2 │  9.55562  Good    1.15612
   3 │ 10.0272   Better  1.14102
   4 │  9.70052  Better  1.13922
   5 │ 11.7779   Good    1.2221
   6 │  8.8551   Better  1.04502
   7 │  9.53139  Best    1.15222
   8 │ 10.1561   Good    1.03787
   9 │  7.35801  Better  1.098
  10 │ 11.0033   Better  1.05128
  11 │ 11.0824   Good    1.03466
  ⋮  │    ⋮        ⋮        ⋮
  91 │ 10.1375   Better  1.21954
  92 │ 13.1496   Better  1.01555
  93 │  9.27859  Better  1.07816
  94 │  9.42291  Better  1.07689
  95 │ 10.4594   Best    1.72336
  96 │ 10.2472   Good    1.0601
  97 │  9.97434  Best    1.13788
  98 │  9.36792  Better  1.14067
  99 │  8.97958  Better  1.18326
 100 │  8.68849  Best    1.11812
                  79 rows omitted

## Dataframe Functions

In [19]:
# obtain dataframe dimensions
size(df)

(100, 3)

In [20]:
# obtain dataframe row number
nrow(df)

100

In [21]:
# obtain dataframe column number
ncol(df)

3

In [22]:
# access first 5 rows
first(df, 5)

5×3 DataFrame
 Row │ x1        x2      x3
     │ Float64   String  Float64
─────┼───────────────────────────
   1 │  9.44397  Best    1.13941
   2 │  9.55562  Good    1.15612
   3 │ 10.0272   Better  1.14102
   4 │  9.70052  Better  1.13922
   5 │ 11.7779   Good    1.2221

In [23]:
# access last 5 rows
last(df, 5)

5×3 DataFrame
 Row │ x1        x2      x3
     │ Float64   String  Float64
─────┼───────────────────────────
   1 │ 10.2472   Good    1.0601
   2 │  9.97434  Best    1.13788
   3 │  9.36792  Better  1.14067
   4 │  8.97958  Better  1.18326
   5 │  8.68849  Best    1.11812

In [24]:
# describe dataframe
describe(df)

3×7 DataFrame
 Row │ variable  mean     min      median   max      nmissing  eltype
     │ Symbol    Union…   Any      Union…   Any      Int64     DataType
─────┼──────────────────────────────────────────────────────────────────
   1 │ x1        9.87024  5.66253  9.91626  13.1496         0  Float64
   2 │ x2                 Best              Good            0  String
   3 │ x3        1.11838  1.00055  1.07791  1.72336         0  Float64

In [25]:
# describe dataframe column
describe(df[:, :x1])

Summary Stats:
Length:         100
Missing Count:  0
Mean:           9.870236
Minimum:        5.662532
1st Quartile:   9.254426
Median:         9.916256
3rd Quartile:   10.494514
Maximum:        13.149576
Type:           Float64

In [26]:
# describe dataframe column
describe(df[:, [:x1]])

1×7 DataFrame
 Row │ variable  mean     min      median   max      nmissing  eltype
     │ Symbol    Float64  Float64  Float64  Float64  Int64     DataType
─────┼──────────────────────────────────────────────────────────────────
   1 │ x1        9.87024  5.66253  9.91626  13.1496         0  Float64

In [27]:
# sort dataframe by x1 ascending
sort(df, :x1)

100×3 DataFrame
 Row │ x1        x2      x3
     │ Float64   String  Float64
─────┼───────────────────────────
   1 │  5.66253  Best    1.00055
   2 │  7.35801  Better  1.098
   3 │  8.00525  Better  1.00329
   4 │  8.00945  Best    1.10263
   5 │  8.34943  Better  1.10682
   6 │  8.37438  Better  1.0104
   7 │  8.40942  Better  1.03214
   8 │  8.4906   Better  1.05891
   9 │  8.55112  Better  1.01471
  10 │  8.57794  Better  1.06142
  11 │  8.64836  Better  1.47418
  ⋮  │    ⋮        ⋮        ⋮
  91 │ 11.0824   Good    1.03466
  92 │ 11.2094   Better  1.53885
  93 │ 11.2253   Best    1.07786
  94 │ 11.3716   Best    1.3292
  95 │ 11.4914   Best    1.06416
  96 │ 11.6121   Better  1.22176
  97 │ 11.7779   Good    1.2221
  98 │ 11.8193   Best    1.0213
  99 │ 12.3879   Best    1.00958
 100 │ 13.1496   Better  1.01555
                  79 rows omitted

In [28]:
# sort dataframe by x1 descending
sort(df, :x1, rev=true)

100×3 DataFrame
 Row │ x1        x2      x3
     │ Float64   String  Float64
─────┼───────────────────────────
   1 │ 13.1496   Better  1.01555
   2 │ 12.3879   Best    1.00958
   3 │ 11.8193   Best    1.0213
   4 │ 11.7779   Good    1.2221
   5 │ 11.6121   Better  1.22176
   6 │ 11.4914   Best    1.06416
   7 │ 11.3716   Best    1.3292
   8 │ 11.2253   Best    1.07786
   9 │ 11.2094   Better  1.53885
  10 │ 11.0824   Good    1.03466
  11 │ 11.0194   Good    1.06318
  ⋮  │    ⋮        ⋮        ⋮
  91 │  8.57794  Better  1.06142
  92 │  8.55112  Better  1.01471
  93 │  8.4906   Better  1.05891
  94 │  8.40942  Better  1.03214
  95 │  8.37438  Better  1.0104
  96 │  8.34943  Better  1.10682
  97 │  8.00945  Best    1.10263
  98 │  8.00525  Better  1.00329
  99 │  7.35801  Better  1.098
 100 │  5.66253  Best    1.00055
                  79 rows omitted

In [29]:
# sort by x1 asc and x2 desc
sort(df, [:x1, :x2], rev=[false, true])

100×3 DataFrame
 Row │ x1        x2      x3
     │ Float64   String  Float64
─────┼───────────────────────────
   1 │  5.66253  Best    1.00055
   2 │  7.35801  Better  1.098
   3 │  8.00525  Better  1.00329
   4 │  8.00945  Best    1.10263
   5 │  8.34943  Better  1.10682
   6 │  8.37438  Better  1.0104
   7 │  8.40942  Better  1.03214
   8 │  8.4906   Better  1.05891
   9 │  8.55112  Better  1.01471
  10 │  8.57794  Better  1.06142
  11 │  8.64836  Better  1.47418
  ⋮  │    ⋮        ⋮        ⋮
  91 │ 11.0824   Good    1.03466
  92 │ 11.2094   Better  1.53885
  93 │ 11.2253   Best    1.07786
  94 │ 11.3716   Best    1.3292
  95 │ 11.4914   Best    1.06416
  96 │ 11.6121   Better  1.22176
  97 │ 11.7779   Good    1.2221
  98 │ 11.8193   Best    1.0213
  99 │ 12.3879   Best    1.00958
 100 │ 13.1496   Better  1.01555
                  79 rows omitted

In [30]:
# obtain count group by x2
combine(groupby(df, :x2), nrow)

3×2 DataFrame
 Row │ x2      nrow
     │ String  Int64
─────┼───────────────
   1 │ Best       34
   2 │ Good       15
   3 │ Better     51

In [31]:
# obtain sum group by x2
combine(groupby(df, :x2), :x1 => sum, :x3 => sum)

3×3 DataFrame
 Row │ x2      x1_sum   x3_sum
     │ String  Float64  Float64
─────┼──────────────────────────
   1 │ Best    335.274  38.4914
   2 │ Good    153.395  17.0919
   3 │ Better  498.355  56.2549

In [32]:
# obtain aggregates of x1 column
combine(df, :x1 => mean, :x1 => median, :x1 => std)

1×3 DataFrame
 Row │ x1_mean  x1_median  x1_std
     │ Float64  Float64    Float64
─────┼─────────────────────────────
   1 │ 9.87024    9.91626  1.05399