# Working with Data

In [1]:
# load required modules
using DataFrames
using Distributions
using Random
using StatsBase

In [2]:
# set seed for reproducible sequence of numbers
Random.seed!(42);

## Dataframes

In [13]:
# create a sample dataframe
df = DataFrame(
    Dict(
        :x1 => rand(Normal(10, 1), 100),
        :x2 => [sample(["Good", "Better", "Best"], pweights([0.2, 0.5, 0.3])) for i=1:100],
        :x3 => rand(Pareto(10, 1), 100)
    )
)

100×3 DataFrame
 Row │ x1        x2      x3
     │ Float64   String  Float64
─────┼───────────────────────────
   1 │ 12.0849   Best    1.53913
   2 │  9.85501  Best    1.0313
   3 │ 10.3115   Better  1.03961
   4 │ 11.5511   Best    1.00943
   5 │  9.25705  Better  1.1772
   6 │  7.33639  Better  1.00157
   7 │  9.61922  Good    1.17024
   8 │  9.80549  Good    1.01424
   9 │  9.5852   Better  1.29894
  10 │  9.56308  Good    1.10715
  11 │ 10.2434   Good    1.01458
  ⋮  │    ⋮        ⋮        ⋮
  91 │  8.46498  Better  1.0373
  92 │ 10.5889   Better  1.02853
  93 │  8.94836  Better  1.22068
  94 │  7.94026  Good    1.14947
  95 │ 10.7131   Best    1.04047
  96 │  9.72061  Better  1.0685
  97 │  8.21057  Best    1.08541
  98 │  8.83438  Better  1.20427
  99 │ 11.9235   Better  1.00091
 100 │ 10.847    Better  1.03693
                  79 rows omitted

In [9]:
# get type of df
typeof(df)

DataFrame

In [15]:
# access 1 row
df[1, :]

DataFrameRow
 Row │ x1       x2      x3
     │ Float64  String  Float64
─────┼──────────────────────────
   1 │ 12.0849  Best    1.53913

In [19]:
# access 1 and 2 row
df[[1, 2],:]

2×3 DataFrame
 Row │ x1        x2      x3
     │ Float64   String  Float64
─────┼───────────────────────────
   1 │ 12.0849   Best    1.53913
   2 │  9.85501  Best    1.0313

In [14]:
# access x1 column vector
df[:, :x1]

100-element Vector{Float64}:
 12.08490611003397
  9.85501457683511
 10.311450859859754
 11.551094264040358
  9.257046989369766
  7.336389054930786
  9.619221716200741
  9.805488898873795
  9.58520391213277
  9.563083963693295
 10.243379941222175
  9.624561433257126
  9.213741485830313
  ⋮
  7.973971817272751
 10.56056112062627
  8.464982488780024
 10.588874389626165
  8.948359129039588
  7.940261185917473
 10.713138750436853
  9.720608091110071
  8.21056629329284
  8.834375100207927
 11.923498564520488
 10.84695365328632

In [17]:
# access x1 column dataframe
df[:,[:x1]]

100×1 DataFrame
 Row │ x1
     │ Float64
─────┼──────────
   1 │ 12.0849
   2 │  9.85501
   3 │ 10.3115
   4 │ 11.5511
   5 │  9.25705
   6 │  7.33639
   7 │  9.61922
   8 │  9.80549
   9 │  9.5852
  10 │  9.56308
  11 │ 10.2434
  ⋮  │    ⋮
  91 │  8.46498
  92 │ 10.5889
  93 │  8.94836
  94 │  7.94026
  95 │ 10.7131
  96 │  9.72061
  97 │  8.21057
  98 │  8.83438
  99 │ 11.9235
 100 │ 10.847
 79 rows omitted

In [20]:
# access column x1 and x2
df[:, [:x1, :x2]]

100×2 DataFrame
 Row │ x1        x2
     │ Float64   String
─────┼──────────────────
   1 │ 12.0849   Best
   2 │  9.85501  Best
   3 │ 10.3115   Better
   4 │ 11.5511   Best
   5 │  9.25705  Better
   6 │  7.33639  Better
   7 │  9.61922  Good
   8 │  9.80549  Good
   9 │  9.5852   Better
  10 │  9.56308  Good
  11 │ 10.2434   Good
  ⋮  │    ⋮        ⋮
  91 │  8.46498  Better
  92 │ 10.5889   Better
  93 │  8.94836  Better
  94 │  7.94026  Good
  95 │ 10.7131   Best
  96 │  9.72061  Better
  97 │  8.21057  Best
  98 │  8.83438  Better
  99 │ 11.9235   Better
 100 │ 10.847    Better
         79 rows omitted