# Working with Data

In [1]:
# load required modules
using DataFrames
using Distributions
using Random
using StatsBase

In [2]:
# set seed for reproducible sequence of numbers
Random.seed!(42);

## Dataframes

In [3]:
# create a sample dataframe
df = DataFrame(
    Dict(
        :x1 => rand(Normal(10, 1), 100),
        :x2 => [sample(["Good", "Better", "Best"], pweights([0.2, 0.5, 0.3])) for i=1:100],
        :x3 => rand(Pareto(10, 1), 100)
    )
)

100×3 DataFrame
 Row │ x1        x2      x3
     │ Float64   String  Float64
─────┼───────────────────────────
   1 │  9.44397  Best    1.13941
   2 │  9.55562  Good    1.15612
   3 │ 10.0272   Better  1.14102
   4 │  9.70052  Better  1.13922
   5 │ 11.7779   Good    1.2221
   6 │  8.8551   Better  1.04502
   7 │  9.53139  Best    1.15222
   8 │ 10.1561   Good    1.03787
   9 │  7.35801  Better  1.098
  10 │ 11.0033   Better  1.05128
  11 │ 11.0824   Good    1.03466
  ⋮  │    ⋮        ⋮        ⋮
  91 │ 10.1375   Better  1.21954
  92 │ 13.1496   Better  1.01555
  93 │  9.27859  Better  1.07816
  94 │  9.42291  Better  1.07689
  95 │ 10.4594   Best    1.72336
  96 │ 10.2472   Good    1.0601
  97 │  9.97434  Best    1.13788
  98 │  9.36792  Better  1.14067
  99 │  8.97958  Better  1.18326
 100 │  8.68849  Best    1.11812
                  79 rows omitted

In [4]:
# get type of df
typeof(df)

DataFrame

### Access Dataframe Rows

In [5]:
# access 1 row
df[1, :]

DataFrameRow
 Row │ x1       x2      x3
     │ Float64  String  Float64
─────┼──────────────────────────
   1 │ 9.44397  Best    1.13941

In [6]:
# access 1 and 2 row
df[[1, 2],:]

2×3 DataFrame
 Row │ x1       x2      x3
     │ Float64  String  Float64
─────┼──────────────────────────
   1 │ 9.44397  Best    1.13941
   2 │ 9.55562  Good    1.15612

### Access Dataframe Columns

In [7]:
# access x1 column vector
df[:, :x1]

100-element Vector{Float64}:
  9.443973123853613
  9.555616642890303
 10.027155338009194
  9.700515909641089
 11.777861098057326
  8.85509846827118
  9.531394117832326
 10.15614346264074
  7.358008991923204
 11.003309901459485
 11.08238120560843
 10.18702790710363
 10.518148787877138
  ⋮
  9.06950711978119
  8.00944602766854
 10.137539801928368
 13.149575924127522
  9.278587801512574
  9.422907303013153
 10.459383775304756
 10.247207706055054
  9.974337506195937
  9.367919031973127
  8.979580645130948
  8.688492199795714

In [8]:
# access x1 column dataframe
df[:,[:x1]]

100×1 DataFrame
 Row │ x1
     │ Float64
─────┼──────────
   1 │  9.44397
   2 │  9.55562
   3 │ 10.0272
   4 │  9.70052
   5 │ 11.7779
   6 │  8.8551
   7 │  9.53139
   8 │ 10.1561
   9 │  7.35801
  10 │ 11.0033
  11 │ 11.0824
  ⋮  │    ⋮
  91 │ 10.1375
  92 │ 13.1496
  93 │  9.27859
  94 │  9.42291
  95 │ 10.4594
  96 │ 10.2472
  97 │  9.97434
  98 │  9.36792
  99 │  8.97958
 100 │  8.68849
 79 rows omitted

In [9]:
# access column x1 and x2
df[:, [:x1, :x2]]

100×2 DataFrame
 Row │ x1        x2
     │ Float64   String
─────┼──────────────────
   1 │  9.44397  Best
   2 │  9.55562  Good
   3 │ 10.0272   Better
   4 │  9.70052  Better
   5 │ 11.7779   Good
   6 │  8.8551   Better
   7 │  9.53139  Best
   8 │ 10.1561   Good
   9 │  7.35801  Better
  10 │ 11.0033   Better
  11 │ 11.0824   Good
  ⋮  │    ⋮        ⋮
  91 │ 10.1375   Better
  92 │ 13.1496   Better
  93 │  9.27859  Better
  94 │  9.42291  Better
  95 │ 10.4594   Best
  96 │ 10.2472   Good
  97 │  9.97434  Best
  98 │  9.36792  Better
  99 │  8.97958  Better
 100 │  8.68849  Best
         79 rows omitted

### Access Dataframe Rows and Columns

In [10]:
# slicing dataframe by indeces
df[1:2, 1:2]

2×2 DataFrame
 Row │ x1       x2
     │ Float64  String
─────┼─────────────────
   1 │ 9.44397  Best
   2 │ 9.55562  Good

In [12]:
# slicing dataframe by column names
df[1:2, [:x1, :x2]]

2×2 DataFrame
 Row │ x1       x2
     │ Float64  String
─────┼─────────────────
   1 │ 9.44397  Best
   2 │ 9.55562  Good

In [31]:
# select only x2 == "Better"
mask = [df[i,:x2] == "Better" for i=1:nrow(df)]
df[mask, :]

51×3 DataFrame
 Row │ x1        x2      x3
     │ Float64   String  Float64
─────┼───────────────────────────
   1 │ 10.0272   Better  1.14102
   2 │  9.70052  Better  1.13922
   3 │  8.8551   Better  1.04502
   4 │  7.35801  Better  1.098
   5 │ 11.0033   Better  1.05128
   6 │ 10.3676   Better  1.02916
   7 │  8.40942  Better  1.03214
   8 │ 10.4107   Better  1.02553
   9 │  8.94901  Better  1.02335
  10 │ 10.5698   Better  1.04113
  11 │  8.57794  Better  1.06142
  ⋮  │    ⋮        ⋮        ⋮
  42 │  8.55112  Better  1.01471
  43 │ 10.317    Better  1.01046
  44 │ 10.2763   Better  1.01972
  45 │  8.37438  Better  1.0104
  46 │ 10.1375   Better  1.21954
  47 │ 13.1496   Better  1.01555
  48 │  9.27859  Better  1.07816
  49 │  9.42291  Better  1.07689
  50 │  9.36792  Better  1.14067
  51 │  8.97958  Better  1.18326
                  30 rows omitted